name: CI

on:

  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  build-test:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        mlcomp: [mlkit]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup environment
        run: |
          echo "OS=$(uname -s | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
          echo "RUNHOME=$(echo $HOME)" >> $GITHUB_ENV

      - name: Install smlpkg
        uses: diku-dk/install-smlpkg@HEAD

      - name: Install MLKit
        uses: diku-dk/install-mlkit@HEAD

      - name: Install Postgresql (macos)
        if: ${{ env.OS == 'darwin' }}
        run: |
          arch -x86_64 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          arch -x86_64 /usr/local/bin/brew install postgresql@14
          arch -x86_64 /usr/local/bin/brew link postgresql@14
          echo "/usr/local/opt/postgresql@14/bin/" >> $GITHUB_PATH

      - name: Check
        run: |
          mlkit --version
          smlpkg --version
          psql --version

      - name: Start postgresql (linux)
        if: ${{ env.OS == 'linux' }}
        run: |
          sudo systemctl start postgresql.service
          pg_isready
          sudo -u postgres psql --command="CREATE USER $USER PASSWORD 'mypassword'"
          sudo -u postgres psql --command="ALTER USER $USER CREATEDB"
          sudo -u postgres createdb --owner=$USER mydatabase
          PGPASSWORD=mypassword psql --username=$USER --host=localhost --list mydatabase

      - name: Start postgresql (macos)
        if: ${{ env.OS == 'darwin' }}
        run: |
          arch -x86_64 /usr/local/bin/brew services start postgresql
          echo "Check PostgreSQL service is running"
          i=10
          COMMAND='pg_isready'
          while [ $i -gt 0 ]; do
            echo "Check PostgreSQL service status"
            eval $COMMAND && break
            ((i--))
            if [ $i == 0 ]; then
              echo "PostgreSQL service not ready, all attempts exhausted"
              exit 1
            fi
            echo "PostgreSQL service not ready, wait 10 more sec, attempts left: $i"
            sleep 10
          done
          psql --command="CREATE USER myuser PASSWORD 'mypassword'" --command="\du" postgres
          createdb --owner=myuser mydatabase
          PGPASSWORD=mypassword psql --username=myuser --host=localhost --list mydatabase

      - name: Build
        run: |
          MLKIT_INCLUDEDIR=$RUNHOME/.local/share/mlkit/include make all

      - name: Run tests
        run: |
          MLKIT_INCLUDEDIR=$RUNHOME/.local/share/mlkit/include make test
